<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kv.mapper.ReferenceDosimetryMapper" >
  <resultMap id="BaseResultMap" type="kv.pojo.dbo.ReferenceDosimetry" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="audit_id" property="auditId" jdbcType="VARCHAR" />
    <result column="protocol" property="protocol" jdbcType="VARCHAR" />
    <result column="nk" property="nk" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
  </resultMap>
</mapper>