<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kv.mapper.TreatmentMachineMapper" >
  <resultMap id="BaseResultMap" type="kv.pojo.dbo.TreatmentMachine" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="unit_model" property="unitModel" jdbcType="VARCHAR" />
    <result column="unit_serial_number" property="unitSerialNumber" jdbcType="VARCHAR" />
    <result column="local_name" property="localName" jdbcType="VARCHAR" />
    <result column="tube_insert_type" property="tubeInsertType" jdbcType="VARCHAR" />
    <result column="tube_serial_number" property="tubeSerialNumber" jdbcType="VARCHAR" />
  </resultMap>
</mapper>